---
layout: default
---

{%-include back_link.html-%}
{{ content | replace: "\n\n", "<br/><br/>" | replace: "\n", "<br/>" }}

<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
  </p>
  
  <h1>{{ page.title }}</h1>
  <div class="post-content">
    {{ content }}
  </div>
</article>


<script src="https://unpkg.com/scrollnav@3.0.1/dist/scrollnav.min.umd.js"></script>

<script>
    const ct = document.querySelector('.post-content');  //".post-content"指向文章内容所在的div，需根据实际情况修改
    scrollnav.init(ct, { 
        debug: false,
        sections: 'h1',
        subSections: 'h2',
        easing: 'easeOutQuint',
    });

    // 强制覆盖默认滚动行为
    document.querySelectorAll('.scroll-nav a').forEach(link => {
        link.addEventListener('click', (e) => {
            e.preventDefault();
            const targetId = link.getAttribute('href').substring(1);
            const target = document.getElementById(targetId);
            if (target) {
                window.scrollTo({
                    top: target.offsetTop,
                    behavior: 'instant'
                });
            }
        });
    });
</script>
